
.popular-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
}
.popular-container{
    display: flex;
    width: 80%;
    align-items: center;
    flex-direction: column;
}
.top{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    font-weight: bold;
    color: white;
}




.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: -2px;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .see-more-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 140px;
    color: black;
    background-color: var(--background);
    border: 1px solid ;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.2s;
  }

  .see-more-btn:hover{
    background-color: white;
  }