.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    
  }
  
  .title {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    font-size: 13px;
    font-weight: 400;
    color: var(--text);

  }

  
  .list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--primary);
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .list li {
    padding: 10px;
    color: black;
    font-size: 12px;
    font-weight: 400;
  }
  
  
.dropdown:hover .list {
    display: block;
}
  

.title:hover {
  background-color: #e2e2e2;
}

.list li:hover{
  cursor: pointer;
}

@media (max-width: 600px) {
  .title{
    font-size: 12px;
    height: 20px;
    border-radius: 2px;
  }
  .list li{
    font-size: 10px;
  }
}