.dash-top {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 200px;
  gap: 20px;
}

.dash-top .top-inside {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background);
  width: 260px;
  height: 140px;
  border: #ddd solid 1px;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 1px black;
}
.dash-top .top-inside .icon {
  background-color: var(--primary);
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.dash-top .top-inside .inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 22px;
  font-weight: 400;
  width: 60%;
}

.dash-top .top-inside .inside .number {
  width: 100%;
  font-size: 35px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.dash-bot {
  width: 100%;
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

/* Recent sales */
.recent {
  width: 70%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--background);
  box-shadow: 0px 0px 4px 1px;

}

.recent .recent-top {
  color: var(--text);
  font-weight: 500;
  width: 100%;
  font-size: 32px;
}

.table-container {
  color: var(--text);
  width: 100%;
}

/* Sales table */
.sales-table {
  width: 100%;
  border-collapse: collapse;
}

/* Table header */
.sales-table th {
  font-size: larger;
  padding: 8px;
  text-align: left;
}

/* Table body */
.sales-table td {
  padding: 8px;
  font-weight: 400;
  font-size: large;
}

.top-products {
  font-size: 18px;
  width: 30%;
  background-color: var(--background);
  padding: 30px;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0px 0px 4px 1px;

}
.huge-procucts-container{
  width: 90%;
  margin: 60px 0px;
}

@media (max-width: 850px) {
  .sales-table {
    display: block;
    width: 100%;
  }
  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: var(--text);
    padding: 0 0 10px;
  }
  .sales-table thead,
  .sales-table tbody,
  .sales-table thead th {
    display: block;
  }
  .sales-table thead th:last-child {
    border-bottom: none;
  }
  .sales-table thead {
    float: left;
  }
  .sales-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .sales-table td,
  .sales-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .sales-table thead th {
    text-align: left;
    border-bottom: 1px solid var(--primary);
  }
  .sales-table tbody tr {
    display: table-cell;
  }
  .sales-table tr td:nth-child(odd) {
    border-right: 1px solid #e6e4e4;
  }
  .sales-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .sales-table tbody td {
    display: block;
    text-align: center;
  }

  .top-products {
    font-size: 18px;
    width: 100%;
    background-color: var(--background);
    padding: 30px;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    min-height: 200px;
    box-shadow: 0px 0px 4px 1px;
  }

  .recent {
    width: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
    box-shadow: 0px 0px 4px 1px;
    border-radius: 10px;
    background-color: var(--background);
  }

  .dash-bot{
    flex-direction: column;
  }
}
