:root{
    --text: #e8e5e4;
    --background: #3e2213;
    --primary: #d3ab92;
    --secondary: #704731;
    --accent: #cf7544;
  
  }

.modal{
    position: fixed;
    height: 100vh;
    width: 50%;
    bottom: 20px;
    background-color: var(--secondary);
    z-index: 10000;
    color: var(--text);
    border: none;
}

.modal-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.modal-content form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.container-modal{
    width: 90%;
    height: 40px;
}

.container-modal  input, select {
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px var(--text) solid;
    background-color: var(--background);
    color: var(--text);
    padding: 10px;
}

.container-modal  input{
    outline: none;
    background-color: var(--background);
    color: var(--text);
    border: 1px var(--text) solid;
    padding: 10px;
}

.buy-now-btn{
    background-color: transparent;
    color: var(--text);
    height: 30px;
    width: 150px;
    border: 1px var(--text) solid;
}

.buy-now-btn:hover{
    background-color: var(--text);
    color: var(--secondary);
    transition-duration: .2s;
}