
.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.modal-content .form-show {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.modal-content .form-hide {
  display: none;
}

.container-modal {
  width: 90%;
  height: 40px;
}

.close-btn{
  position: absolute;
  margin: 15px;
  font-size: 20px;
  right: 0;
}

.container-modal input,
select {
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px var(--primary) solid;
  background-color: var(--background);
  color: var(--text);
  padding: 10px;
  border-radius: 8px;
}

.container-modal input {
  outline: none;
  background-color: var(--background);
  color: var(--text);
  border: 1px var(--primary) solid;
  padding: 10px;
  border-radius: 8px;
}

.buy-now-btn {
    background-color: transparent;
    color: var(--text);
    height: 30px;
    width: 110px;
    border: 1px var(--primary) solid;
    border-radius: 8px;
}

.buy-now-btn:hover {
  background-color: var(--primary);
  color: var(--background);
  transition-duration: 0.2s;
}

.buttons-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
}


@media (max-width: 600px) {
  .modal {
    display: flex;
    position: fixed;
    height: 500px;
    width: 90%;
    bottom: 5%;
    background-color: var(--background);
    z-index: 10000;
    color: var(--text);
    border: none;
}
}