* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.category-container {
    margin: 0;
    padding: 0;
    position: relative;
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cats-inner-container {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}