
 .available-sizes label {
   width: 100%;
   height: 90px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

 .letters-label {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
 }

 .huge-add-container {
   position: relative;
   margin: 60px 0px;
   height: fit-content;
   width: 100%;
   display: flex;
   align-items: center;
 }

 .big-add-container {
   position: relative;
   background-color: var(--background);
   color: var(--text);
   height: fit-content;
   width: 100%;
   margin: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

 }

 .big-add-container form {
   position: relative;
   height: 80%;
   width: 100%;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
 }

 .big-add-container form label {
   width: 100%;
   position: relative;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
 }

 .big-add-container form .add-datails {
  width: 100%;
  min-height: 150vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  border: 1px var(--primary) solid;
  padding: 20px;
  margin: 20px;
}

 .big-add-container form .add-datails .theInput{
   width: 65%;
   height: 60px;
   padding: 10px;
   border: 1px solid var(--primary);
   background-color: transparent;
   border-radius: 5px;
   outline: none;
   font-size: 1em;

 }

 .big-add-container form .add-datails .text-inside-label{
  display: flex;
  flex-direction: column;
  font-size: .9em;
  width: 30%;
 }

 .big-add-container form .add-datails .text-inside-label span{
  display: flex;
  flex-direction: column;
  font-size: .9em;
  width: 100%;
 }

 .big-add-container form .add-datails .text-inside-label span:first-child{
  font-size: 20px;
  font-weight: bold;
 }

 .big-add-container form .available-sizes {
   display: flex;
   flex-direction: column;
   width: 90%;
 }

 .big-add-container form .available-sizes label {
   width: 80%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   height: 100px;
 }

 .big-add-container form .available-sizes label input {
   height: 20px;
   width: 20px;
 }

 .big-add-container form label textarea {
   width: 65%;
   height: 200px;
   outline: none;
   padding: 10px;
   font-size: 1em;
   background-color: transparent;
   border: 1px solid var(--primary);
 }

 .color-circles {
   display: flex;
   flex-wrap: wrap;
 }

 .color-circle {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   margin: 5px;
   cursor: pointer;
 }

 .selected-color {

   width: 20px;
   height: 20px;
   border-radius: 50%;
   margin: 5px;
   cursor: pointer;
   display: flex;
   flex-wrap: wrap;
   outline: 2px solid #333;
 }

 .size-label {
   min-height: 90px;
   width: 100%;
   outline: none;
   background: transparent;
   gap: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
 }


 .big-add-container form .photos-label{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  height: fit-content;
  padding: 10px;
  border: 1px solid var(--primary);
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  color: white;
  font-size: 1em;
  gap: 10px;
 }
 .big-add-container form .photos-label input{
  display: none;
  width: 0;
  height: 0;
 }
 .big-add-container form .photos-label button {
  width: 208px;
  height: 208px;
  background-color: var(--background);
  color: black;
  transition-duration: .2s;
  border: none;
  box-shadow: 0px 0px 3px 1px;
}

 .preview-image {
   width: 208px;
   height: 208px;
   object-fit: cover;
 }
 .big-add-container form .category-label{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: fit-content;
 }
 .big-add-container form .category-label ul{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0;
 }
 .big-add-container form .category-label ul li{
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid var(--primary);
  transition-duration: .2s;
 }

 .selected-cat{
  background-color: navajowhite;
  color: black;
 }
 .add-btn{
  width: 100px;
  height: 40px;
  background-color: var(--primary);
  border: none;
  color: var(--background);
  transition-duration: .2s;
  border-radius: 6px;
 }
 

 .big-add-container form .photos-label button:hover{
  background-color: var(--primary);
  color: var(--background);
 }
 .add-btn:hover{
  background-color: navajowhite;
  cursor: pointer;
  border: 1px solid black;
  color: black;
 }

 .big-add-container form .category-label ul li:hover{
  background-color: navajowhite;
  cursor: pointer;
  border: 1px solid black;
  color: black;
 }

 .drop-cat{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  flex-direction: column;
  width: 200px;
  font-size: 12px;
  gap: 10px;
  padding: 30px;
 }


 .big-add-container form .color-label{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
 }

.select-div{
  width: 65%;
 }
 
 .checkbox-size{
  width: 16px;
  height: 16px;
 }

 .checkbox-div{
  width: 30%;
  font-size: 20px;
  font-weight: bold;
 }

 .input-disabled{
  width: 65%;
  height: 60px;
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  color: white;
  font-size: 1em;
  border: #ccc 1px solid;
  opacity: .3;
 }

 .preview-container{
  display: flex;
 }
 .big-add-container form .photos-label .image-delete{
  position: absolute;
  z-index: 10;
  opacity: 0;
  color: black;
 }

 .big-add-container form .photos-label .image-delete:hover{
  opacity: .2;
  background-color: navajowhite;
 }


 @media (max-width: 600px) {
  .big-add-container form {
    position: relative;
    height: 80%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.big-add-container form .add-datails {
  width: 100%;
  min-height: 150vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  border: 1px var(--primary) solid;
  padding: 20px;
  margin: 20px;
}
.big-add-container form .add-datails .text-inside-label {
  display: flex;
  flex-direction: column;
  font-size: .9em;
  width: 30%;
}
.big-add-container form .add-datails .text-inside-label span:first-child {
  display: flex;
  font-size: 17px;
  font-weight: bold;
}

.big-add-container form .add-datails .text-inside-label span {
  display: none;
  flex-direction: column;
  font-size: .9em;
  width: 100%;
}

.big-add-container form .category-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: -moz-fit-content;
  height: fit-content;
  gap: 20px;
}
.big-add-container form .category-label ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.drop-cat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  flex-direction: row;
  width: auto;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.big-add-container form .category-label ul li {
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid var(--primary);
  transition-duration: .2s;
}

  .big-add-container form label {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.big-add-container form .add-datails .text-inside-label span:first-child {
  display: flex;
  font-size: 17px;
  font-weight: bold;
}
.big-add-container form .add-datails .theInput {
  width: 100%;
  height: 60px;
  padding: 10px;
  border: 1px solid var(--primary);
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
}

.big-add-container form label textarea {
  width: 100%;
  height: 200px;
  outline: none;
  padding: 10px;
  font-size: 1em;
  background-color: transparent;
  border: 1px solid var(--primary);
}

.big-add-container form .photos-label {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  border: 1px solid var(--primary);
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  color: white;
  font-size: 1em;
  gap: 10px;
}

.big-add-container form .color-label {
  height: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.select-div {
  width: 100%;
}

.checkbox-div {
  width: 30%;
  font-size: 14px;
  font-weight: bold;
}

.input-disabled {
  width: 100%;
  height: 60px;
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  color: white;
  font-size: 1em;
  border: #ccc 1px solid;
  opacity: .3;
}

.big-add-container{
  margin: 0;
}

.big-add-container form .add-datails .text-inside-label{
  margin-bottom: 20px ;
}

.big-add-container form .add-datails{
  min-height: 900px;
}

 }
 